<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="feuille.css"/>
</head>
<body>
	<div> 
	<img src="handshake.jpg" alt="SOSvite.com" style="width:180px;height:70px; padding-left:30px;">
	</div>
	<nav class="navbar navbar-light bg-light>
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" style="padding-left:50px" href="#">SOSVITE</a>
		</div>
    <ul class="nav navbar-nav">
		<li><button type="button"  href="#" class="btn btn-default btn-lg"> <a style="line-height: 1px;" class="text-dark"><p>TOUTES LES <p /> <p>DEMANDES<p /></a></button></li>
		<li><input class="rechercher" name="search" type="search" aria-label="Search"></li>
		<li><button type="button"  href="#" class="btn2"><span class="glyphicon glyphicon-search"></span> RECHERCHER</li>
	</ul>
    <span style="float:right; padding-top:17px ;">
		<div class="dropdown">
			<p class="text-dark1"><span class="glyphicon glyphicon-user"></span> Mon Profil</p></li>
			<div class="dropdown-content">
				<a class="text-dark" href="#">VOS COMP&Eacute;TENCES</a> </br>
				<a class="text-dark" href="#"> VOS DEMANDES</a> </br>
				<a class="text-dark" href="#"> AIDES COMPLET&Eacute;ES</a> </br>
				<a class="text-dark" href="#"> NOTIFICATIONS/MESSAGES</a></br>
			</div>
		</div>
		<a class="text-dark1"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	</span>
</nav> 
<a name="top"></a>


<div class="footer">
  <span style="float:right;">
  <button type="button"  href="#top" class="btn1 btn-default btn-sm"> <a class="text-dark"> Retour au haut de la page </a><span class="glyphicon glyphicon-triangle-top"></span></button>
  </span>
</div>
</body>
</html>